footer{
    margin-top: 30px;
    background-color: $colour-quaternaire;
    >.bloc-footer{
        display: flex;
        flex-direction: column;
        margin-left: 5%; 
        padding-bottom: 6%;
        color: white;

        h2{
            font-family: 'Shrikhand', cursive;
            font-weight: 100;
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 0px;
            margin-top: 10px;
            >i{
                width: 22px;
            }
        }
        a{
            text-decoration: none;
            color: white;
            margin-bottom: 0px;
            margin-top: 10px;
        }
    }
}