footer{
    margin-top: 30px;
    background-color: gray;
    >.bloc-footer{
        display: flex;
        flex-direction: column;
        margin-left: 5%; 
        padding-bottom: 6%;     
        >img{
            height: 25px;
            width: 134px;
            margin-top: 5%;
            +.text-footer >p{
                margin-top: 10px;
                margin-bottom: 0px;
                color: white;
                >i{
                    margin-right: 3%;
                }
            }
        }
    }
}