header{
    display: flex;
    box-shadow: 2px -4px 14px $colour-quaternaire;
    justify-content: center;
    align-items: center;
    position: relative;
    >#logo{
        margin-top: 7%;
        margin-bottom: 1%;
        >img{
            height: 35px;
        }
    }
}


