header{
    display: flex;
    box-shadow: 2px -4px 14px #353535;
    justify-content: flex-end;
    position: relative;
    flex-direction: row-reverse;
    align-items: center;
    >#logo{
        margin-top: 7%;
        margin-bottom: 1%;
        >img{
            height: 35px;
        }
    }
    a{
        padding-right: 14%;
        font-size: 29px;
        margin-left: 7%;
        margin-top: 4%;
        text-decoration: none;
    }
}


