#index {
  display: flex;
  box-shadow: 2px -4px 14px #353535;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#index > #logo {
  margin-top: 7%;
  margin-bottom: 1%;
}
@media screen and (min-width: 750px) {
  #index > #logo {
    margin-top: 4%;
    margin-bottom: 2%;
  }
}
@media screen and (min-width: 751px) {
  #index > #logo {
    margin-top: 2%;
    margin-bottom: 1%;
  }
}
#index > #logo > img {
  height: 35px;
}
@media screen and (min-width: 750px) {
  #index > #logo > img {
    height: 50px;
  }
}

#menue {
  display: flex;
  box-shadow: 2px -4px 14px #353535;
  justify-content: flex-end;
  position: relative;
  flex-direction: row-reverse;
  align-items: center;
}
#menue > #logo {
  margin-top: 7%;
  margin-bottom: 1%;
}
@media screen and (min-width: 750px) {
  #menue > #logo {
    margin-top: 4%;
    margin-bottom: 2%;
  }
}
#menue > #logo > img {
  height: 35px;
}
@media screen and (min-width: 750px) {
  #menue > #logo > img {
    height: 50px;
  }
}
#menue a {
  padding-right: 14%;
  font-size: 29px;
  margin-left: 7%;
  margin-top: 4%;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 750px) {
  #menue a {
    padding-right: 20%;
    font-size: 30px;
    margin-left: 5%;
    margin-top: 0%;
  }
}

footer {
  margin-top: 30px;
  background-color: #353535;
}
footer > .bloc-footer {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  padding-bottom: 6%;
  color: white;
}
footer > .bloc-footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin-bottom: 10px;
}
footer > .bloc-footer p {
  margin-bottom: 0px;
  margin-top: 10px;
}
footer > .bloc-footer p > i {
  width: 22px;
}
footer > .bloc-footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
  margin-top: 10px;
}

#localisation {
  display: flex;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 751px) {
  #localisation {
    height: 70px;
    font-size: x-large;
  }
}
#localisation > i {
  margin-right: 4%;
}

#explication {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
}

.btn {
  color: white;
  text-decoration: none;
  box-shadow: 2px 2px 2px gray;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px 25px 25px 25px;
  padding: 6%;
}
@media screen and (min-width: 750px) {
  .btn {
    max-width: 180px;
    padding: 25px;
  }
}

#tuto {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
@media screen and (min-width: 751px) {
  #tuto {
    margin: auto;
  }
}
@media screen and (min-width: 751px) {
  #tuto h2 {
    margin: auto;
    margin-top: 5%;
  }
}
#tuto > .bloc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 3%;
  width: 90%;
  height: 75px;
  border-radius: 20px;
  box-shadow: 1px 1px 7px gray;
  margin-bottom: 5%;
}
@media screen and (min-width: 750px) {
  #tuto > .bloc {
    margin: auto;
    width: 70%;
    margin-bottom: 3%;
  }
}
@media screen and (min-width: 751px) {
  #tuto > .bloc {
    margin: auto;
    width: 35%;
    margin-top: 3%;
  }
}
#tuto > .bloc:hover {
  background-color: #f5edff;
}
#tuto > .bloc:hover i {
  color: #9356DC;
}
#tuto > .bloc > .num {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-top: 3px;
  margin-left: -11px;
  margin-right: 8%;
}
@media screen and (min-width: 751px) {
  #tuto > .bloc > .num {
    margin-right: 16%;
  }
}
#tuto > .bloc i {
  font-size: 20px;
  width: 30px;
  color: gray;
  text-align: center;
  padding-right: 20px;
}
@media screen and (min-width: 751px) {
  #tuto > .bloc i {
    padding-right: 100px;
    font-size: 25px;
  }
}
#tuto > .bloc .text {
  font-weight: bold;
}

#resto {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
@media screen and (min-width: 751px) {
  #resto {
    align-items: center;
  }
}
@media screen and (min-width: 751px) {
  #resto h2 {
    margin-top: 5%;
  }
}
#resto > .box-resto {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}
@media screen and (min-width: 750px) {
  #resto > .box-resto {
    margin: auto;
    width: 500px;
    margin-bottom: 5%;
  }
}
#resto > .box-resto > .contener-resto {
  display: flex;
  box-shadow: 1px 1px 25px #a79c9c;
  border-radius: 22px 22px 22px 22px;
  flex-direction: column;
  width: 95%;
}
#resto > .box-resto > .contener-resto a {
  text-decoration: none;
  color: black;
  position: relative;
}
#resto > .box-resto > .contener-resto a > img {
  width: 100%;
  height: 190px;
  border-radius: 22px 22px 0px 0px;
}
#resto > .box-resto > .contener-resto a p {
  position: absolute;
  background-color: #99E2D0;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  right: 20px;
  top: 5px;
}
#resto > .box-resto > .contener-resto .text-contener {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 5%;
}
#resto > .box-resto > .contener-resto .text-contener > .text {
  display: flex;
  flex-direction: column;
}
#resto > .box-resto > .contener-resto .text-contener > .text > h3 {
  margin-bottom: 0px;
}
#resto > .box-resto > .contener-resto .text-contener > .text > h3 + p {
  margin-top: 0px;
}
#resto > .box-resto > .contener-resto .heart {
  position: relative;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#resto > .box-resto > .contener-resto .heart .coeur-plein {
  position: absolute;
  opacity: 0;
  left: 0;
}
#resto > .box-resto > .contener-resto .heart .coeur-plein:hover {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

img {
  width: 100%;
}

.menue {
  margin-top: -50px;
  background-color: white;
  border-radius: 35px 35px 0px 0px;
  position: relative;
  width: 100%;
}
.menue .nom_menue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 8%;
}
.menue .nom_menue h2 {
  font-family: "Shrikhand", cursive;
}
.menue .nom_menue > .heart {
  position: relative;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.menue .nom_menue > .heart .coeur-plein {
  position: absolute;
  opacity: 0;
  left: 0;
}
.menue .nom_menue > .heart .coeur-plein:hover {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
.menue .nom_menue .box-choix {
  display: flex;
}
.menue h3 {
  border-bottom: 2px solid #99E2D0;
  width: 46px;
  padding-bottom: 5px;
  margin-left: 3%;
}
.menue .box-choix {
  display: flex;
  margin-left: 3%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 93%;
  height: 70px;
  box-shadow: 1px 1px 25px #a79c9c;
  border-radius: 20px;
  margin-bottom: 5%;
  justify-content: space-between;
}
@media screen and (min-width: 750px) {
  .menue .box-choix {
    margin: auto;
    width: 70%;
    margin-bottom: 3%;
  }
}
.menue .box-choix div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 15px;
}
.menue .box-choix span {
  text-overflow: ellipsis;
}
.menue .box-choix h4, .menue .box-choix p {
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menue .box-choix .prix {
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}
.menue .box-choix .validation {
  color: white;
  background-color: #99E2D0;
  padding: 19px;
  font-size: 26px;
  border-radius: 0px 20px 20px 0px;
}
.menue .btn_commander {
  display: flex;
  color: white;
  text-decoration: none;
  box-shadow: 2px 2px 2px grey;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  padding: 6%;
  text-align: center;
  justify-content: center;
  width: 165px;
  height: 1px;
  margin: auto;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 15%;
}
@media screen and (min-width: 750px) {
  .menue .btn_commander {
    max-width: 180px;
    padding: 25px;
  }
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
