.loader {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: out 3s linear;
  opacity: 0;
  z-index: -100000;
  position: fixed;
  inset: 0;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes out {
  0% {
    position: absolute;
    z-index: 1000000000;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader .lettre {
  font-family: "Shrikhand", cursive;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 3%;
  color: #cccbcb91;
  animation: flash 2s infinite;
}
@keyframes flash {
  0% {
    text-shadow: 0 0 1px #9356DC;
  }
  90% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 1px #9356DC;
  }
}
.loader .spinner {
  border: 10px solid white;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #9356DC;
  border-radius: 100%;
  padding: 40px;
  -webkit-animation: spin 3s linear infinite;
  -o-animation: spin 3s linear infinite;
  animation: spin 2s linear infinite;
  animation-duration: 8s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box-choix:hover .validation {
  opacity: 1;
  animation: slide 700ms linear forwards;
}
@keyframes slide {
  from {
    margin-right: -100px;
  }
  to {
    margin-right: 0;
  }
}
.box-choix:hover .check {
  padding: 0px;
  animation: rond 700ms ease forwards;
}
@keyframes rond {
  from {
    padding: 20px;
    transform: rotate(360deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.coeur-plein {
  transition: all 1s ease 0s;
  height: 100%;
}

.coeur-plein:hover {
  transition: all 1s ease 0s;
  height: 100%;
}

.box-choix {
  animation: menue 2s ease-in forwards;
  opacity: 0;
  margin-top: 15%;
}
@keyframes menue {
  0% {
    opacity: 0.25;
    margin-top: 10%;
  }
  50% {
    opacity: 0.5;
    margin-top: 5%;
  }
  100% {
    opacity: 1;
    margin-top: 0%;
  }
}

#index {
  display: flex;
  box-shadow: 2px -4px 14px #353535;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#index > #logo {
  margin-top: 7%;
  margin-bottom: 1%;
}
@media screen and (min-width: 750px) {
  #index > #logo {
    margin-top: 4%;
    margin-bottom: 2%;
  }
}
@media screen and (min-width: 751px) {
  #index > #logo {
    margin-top: 2%;
    margin-bottom: 1%;
  }
}
#index > #logo > img {
  height: 35px;
}
@media screen and (min-width: 750px) {
  #index > #logo > img {
    height: 50px;
    width: 100%;
  }
}

#menue {
  display: flex;
  box-shadow: 2px -4px 14px #353535;
  justify-content: flex-end;
  position: relative;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 30%;
}
@media screen and (min-width: 750px) {
  #menue {
    padding-right: 40%;
  }
}
#menue > #logo {
  margin-top: 7%;
  margin-bottom: 1%;
}
@media screen and (min-width: 750px) {
  #menue > #logo {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
#menue > #logo > img {
  height: 35px;
}
@media screen and (min-width: 750px) {
  #menue > #logo > img {
    height: 50px;
    width: 100%;
  }
}
#menue a {
  padding-right: 25%;
  font-size: 29px;
  margin-left: 7%;
  margin-top: 4%;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 750px) {
  #menue a {
    padding-right: 60%;
    font-size: 30px;
    margin-left: 5%;
    margin-top: 0%;
  }
}

footer {
  margin-top: 30px;
  background-color: #353535;
}
footer > .bloc-footer {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  padding-bottom: 6%;
  color: white;
}
@media screen and (min-width: 751px) {
  footer > .bloc-footer {
    padding-bottom: 2%;
  }
}
footer > .bloc-footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin-bottom: 10px;
}
footer > .bloc-footer p {
  margin-bottom: 0px;
  margin-top: 10px;
}
footer > .bloc-footer p > i {
  width: 22px;
}
footer > .bloc-footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
  margin-top: 10px;
}

#localisation {
  display: flex;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 751px) {
  #localisation {
    height: 70px;
    font-size: x-large;
  }
}
#localisation > i {
  margin-right: 4%;
}

#explication {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
  text-align: center;
}
@media screen and (min-width: 751px) {
  #explication {
    height: 230px;
  }
}

h2 {
  width: 86%;
}

.btn {
  color: white;
  text-decoration: none;
  box-shadow: 2px 2px 2px grey;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 40px;
  padding: 6%;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
  margin-bottom: 15%;
  margin-top: 5%;
}
.btn:hover {
  transform: scale(1.15);
  box-shadow: 0px 3px 20px 0px #b5b5b5bd;
  background-color: brightness(1.5);
}
@media screen and (min-width: 750px) {
  .btn {
    max-width: 180px;
    padding: 25px;
  }
}

#tuto {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
@media screen and (min-width: 751px) {
  #tuto {
    margin: auto;
  }
}
@media screen and (min-width: 751px) {
  #tuto h2 {
    margin: auto;
    margin-top: 5%;
    width: 10%;
  }
}
#tuto > .bloc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 3%;
  width: 90%;
  height: 75px;
  border-radius: 20px;
  box-shadow: 0px 3px 20px 0px #b5b5b5bd;
  margin-bottom: 5%;
}
@media screen and (min-width: 750px) {
  #tuto > .bloc {
    margin: auto;
    width: 70%;
    margin-bottom: 3%;
  }
}
@media screen and (min-width: 751px) {
  #tuto > .bloc {
    margin: auto;
    width: 35%;
    margin-top: 3%;
  }
}
#tuto > .bloc:hover {
  background-color: #f5edff;
}
#tuto > .bloc:hover i {
  color: #9356DC;
}
#tuto > .bloc > .num {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-top: 3px;
  margin-left: -11px;
  margin-right: 8%;
}
@media screen and (min-width: 751px) {
  #tuto > .bloc > .num {
    margin-right: 16%;
  }
}
#tuto > .bloc i {
  font-size: 20px;
  width: 30px;
  color: gray;
  text-align: center;
  padding-right: 20px;
}
@media screen and (min-width: 751px) {
  #tuto > .bloc i {
    padding-right: 100px;
    font-size: 25px;
  }
}
#tuto > .bloc .text {
  font-weight: bold;
}

#resto {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
@media screen and (min-width: 751px) {
  #resto {
    align-items: center;
  }
}
@media screen and (min-width: 751px) {
  #resto h2 {
    margin-top: 5%;
    width: 10%;
  }
}
@media screen and (min-width: 751px) {
  #resto div {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 3%;
  }
}
#resto .box-resto {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}
@media screen and (min-width: 750px) {
  #resto .box-resto {
    margin: auto;
    width: 500px;
    margin-bottom: 5%;
  }
}
#resto .box-resto > .contener-resto {
  display: flex;
  box-shadow: 0px 3px 20px 0px #b5b5b5bd;
  border-radius: 22px 22px 22px 22px;
  flex-direction: column;
  width: 95%;
}
#resto .box-resto > .contener-resto a {
  text-decoration: none;
  color: black;
  position: relative;
}
#resto .box-resto > .contener-resto a > img {
  width: 100%;
  height: 190px;
  border-radius: 22px 22px 0px 0px;
}
#resto .box-resto > .contener-resto a p {
  position: absolute;
  background-color: #99E2D0;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  right: 20px;
  top: 5px;
}
#resto .box-resto > .contener-resto .text-contener {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 5%;
}
@media screen and (min-width: 750px) {
  #resto .box-resto > .contener-resto .text-contener {
    width: 90%;
    margin-top: -10px;
  }
}
#resto .box-resto > .contener-resto .text-contener > .text {
  display: flex;
  flex-direction: column;
}
#resto .box-resto > .contener-resto .text-contener > .text > h3 {
  margin-bottom: 0px;
}
#resto .box-resto > .contener-resto .text-contener > .text > h3 + p {
  margin-top: 0px;
}
#resto .box-resto > .contener-resto .heart {
  position: relative;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#resto .box-resto > .contener-resto .heart .coeur-plein {
  position: absolute;
  opacity: 0;
  left: 0;
  height: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
#resto .box-resto > .contener-resto .heart .coeur-plein:hover {
  opacity: 1;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

img {
  width: 100%;
}
@media screen and (min-width: 750px) {
  img {
    width: 60%;
    height: 600px;
    display: flex;
    margin: auto;
    max-width: 1000px;
  }
}

.menue {
  margin-top: -50px;
  background-color: white;
  border-radius: 35px 35px 0px 0px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 750px) {
  .menue {
    width: 60%;
    margin: auto;
    margin-top: -140px;
    box-shadow: 1px 1px 25px #a79c9c;
    padding-bottom: 2%;
    border-radius: 35px 35px 35px 35px;
    max-width: 1000px;
  }
}
.menue .nom_menue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 8%;
}
.menue .nom_menue h2 {
  font-family: "Shrikhand", cursive;
  font-size: xx-large;
}
.menue .nom_menue > .heart {
  position: relative;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.menue .nom_menue > .heart .coeur-plein {
  position: absolute;
  opacity: 0;
  left: 0;
  height: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
.menue .nom_menue > .heart .coeur-plein:hover {
  opacity: 1;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
.menue .nom_menue .box-choix {
  display: flex;
}
.menue h3 {
  border-bottom: 2px solid #99E2D0;
  width: 46px;
  padding-bottom: 5px;
  margin-left: 3%;
}
.menue .box-choix {
  display: flex;
  margin-left: 3%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 93%;
  height: 70px;
  box-shadow: 0px 3px 20px 0px #b5b5b5bd;
  border-radius: 20px;
  margin-bottom: 5%;
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (min-width: 750px) {
  .menue .box-choix {
    margin: auto;
    width: 70%;
    margin-bottom: 3%;
    max-width: 600pxpx;
  }
}
.menue .box-choix div {
  display: flex;
  width: calc(100% - 0px);
  justify-content: space-between;
  padding: 0 15px;
}
.menue .box-choix span {
  text-overflow: ellipsis;
  width: calc(100% - 80px);
}
.menue .box-choix h4, .menue .box-choix p {
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menue .box-choix .prix {
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
  width: 40px;
}
.menue .box-choix .validation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #99E2D0;
  font-size: 26px;
  border-radius: 0px 20px 20px 0px;
  height: 100%;
  margin-right: -100px;
  width: 100px;
}
.menue .box-choix .check {
  opacity: 1;
  font-size: 20px;
}
.menue .btn_commander {
  display: flex;
  color: white;
  text-decoration: none;
  box-shadow: 2px 2px 2px #b5b5b5bd;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 6%;
  text-align: center;
  justify-content: center;
  width: 165px;
  height: 1px;
  margin: auto;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 15%;
  transform: trasform scale(1) 1000ms;
  transition-property: transform;
  transition-duration: 1000ms;
}
.menue .btn_commander:hover {
  transform: scale(1.15);
  box-shadow: 0px 3px 20px 0px #b5b5b5bd;
  background: brightness(5.5);
}
@media screen and (min-width: 750px) {
  .menue .btn_commander {
    max-width: 180px;
    padding: 25px;
    margin-bottom: 3%;
  }
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
