.loader{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: out 8s ease-in-out ;
    animation-iteration-count: 1;
    @keyframes out {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
        
    }
    .lettre{
        font-family: 'Shrikhand', cursive;
        font-size: 40px;
        letter-spacing: 5px;
        margin-bottom: 3%;
        color: #cccbcb91;
        animation: flash 2s linear infinite;
        animation-duration: 8s;
        @keyframes flash {
            0%{
               text-shadow: 0 0 1px $colour-primary; 
            }
            90%{
                text-shadow: none;
            } 
            100%{
                text-shadow: 0 0 1px $colour-primary; 
            }
            
        }
    }
    .spinner{
        border: 10px solid white;
        border-top: 10px solid $colour-primary;
        border-bottom: 10px solid $colour-primary;
        border-radius: 100%;
        padding: 40px;
        -webkit-animation: spin 3s linear infinite;
        -o-animation: spin 3s linear infinite;
        animation: spin 2s linear infinite;
        animation-duration: 8s;
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
    }
}

.box-choix:hover{
    .validation{
        opacity: 1;
        animation: slide 1s linear forwards;
        @keyframes slide {
            from{
                width: 0;
                opacity: 1;
            }
            to{
                width: 70px;
                opacity: 1;
            }
            
        }
    }
    .check{
        animation: rond 1s ease forwards;
        @keyframes rond {
            from{
                opacity: 1;
                transform: rotate(0deg);
            }
            to{
                opacity: 1;
                transform: rotate(-360deg);
            }
            
        }
    }
}
.coeur-plein:hover{
    transition: all 1s linear 0s;
    height: 100%;
}
.box-choix{
    animation: menue 2s ease-in forwards;
    opacity: 0;
    margin-top: 15%;
    @keyframes menue {
        0%{
            opacity: 0.25;
            margin-top: 10%;
        }
        50%{
            opacity: 0.5;
            margin-top: 5%;
        }
        100%{
            opacity: 1;
            margin-top: 0%;
        }
        
    }
}